@use "../helpers" as *;

.cards {
    padding-inline: rem(20);
}

.dogs-card {
    width: 100%;
    height: auto;

    display: grid;
    row-gap: rem(7);


    &__image, &__video {
        height: auto;
        width: 100%;
        border-radius: var(--border-radius);
    }
}